<ul data-role="listview" data-theme="d">  
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post.permalink %>">
        <h1><%= post.title %></h1>
        <% unless post.sub_title.try :empty? %>
          <p><%= post.sub_title %></p>
        <% end %>
        <% if can? :update, @post %>
          <%= link_to 'Edit post', edit_post_path(post, :return_url=>request.env["PATH_INFO"]), "data-role"=>"button", "data-icon"=>"gear", "data-theme"=>"e", "data-ajax"=>"false" %>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
<% content_for :header do %>
  <% if can? :create, @post %>
    <%= link_to 'New post', new_post_path, "data-role"=>"button", "data-icon"=>"plus", "data-iconpos" => "right", "data-inline"=>"true", "data-ajax" => "false" %>
  <% end %>
<% end %>
