<%= form_for(@post, :html => {"data-ajax"=>"false"}) do |f| %>
  <% if params.include?(:return_url) %>
    <%= hidden_field_tag :return_url, params[:return_url] %>
  <% end %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="paddingBottomSmall">
    <%= f.label :date %>
    <%= f.text_field :date, "data-role" => "datebox" %>
  </div>

  <div class="paddingBottomSmall">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>  

  <div class="paddingBottomSmall">
    <%= f.label :permalink %>
    <%= f.text_field :permalink %>
  </div>
  
  <div class="paddingBottomSmall">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
