<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= ((defined? @page_title).nil? || @page_title.empty?) ? "WebWeveloperCV.com" : @page_title %></title>  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>  
  <%= yield :head %>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> 
  <%= csrf_meta_tag %>
  <% if Rails.env == 'production' && !current_user.try(:admin?) %>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12156182-1']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  <% end %>
</head>
<body>
  <div id="<%= @random_str %>" data-role="page"<%= (defined? @page_class).nil? ? "" : " class='#{@page_class}'" %><%= (defined? @page_attr).nil? ? "" : " #{@page_attr}" %>> 
    <% unless notice.nil? %>
      <div class="notice hidden"><%= notice %></div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert hidden"><%= alert %></div>
    <% end %>    
    <div data-role="header" data-theme="e">
      <% if content_for?(:custom_header) %>
        <%= yield(:custom_header) %>
      <% elsif %>
        <a href="/" data-icon="home" data-iconpos="notext" title="Home"></a>      
        <h2 class="centered"><a href="/">WebDeveloperCV.com</a></h2>
      <% end %>   
      <%= yield :header %>
    </div>    
    <div data-role="content" data-theme="a" class="wdcv-content">        
        <%= yield %>                  
    </div>
    <div data-role="footer" data-theme="e">        
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, :class=>"panel-right absolute", :method => :delete, "data-icon" => "back", "data-iconpos" => "right", "data-ajax" => "false", "title"=>"Sign out" %>
      <% end %>
      <h2 class="centered">©2011 <a href="#" class="Cmuercehot">Evgeny Neumerzhitskiy</a></h2>        
    </div>
  </div>
</body>
</html>
